.colores{
    background-color: #060a09;
    margin: 0;
}

li:hover{
    cursor: pointer;
}

link{text-decoration: none;}

.btn{
    height: 43px;
    color: #1ad47d;
    /* #145f3c */
    border-width: 2px;
    border-color: #1ad47d;
    font-size: 18px;
}

.btn:hover{
    background-color: #1ad47d;
    color: #b5aea5;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
}

.navbar{
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-nav {
    --bs-nav-link-hover-color: #1ad47d;
    --bs-navbar-active-color: #1ad47d;
}

.dropdown-menu{
    background-color: #060a09;
    padding: inherit;
    border: 2px solid #383d3f;
    --bs-dropdown-bg:none;
    --bs-dropdown-link-hover-bg: #383d3f;
    --bs-dropdown-spacer: 0;
    --bs-dropdown-link-hover-color: #1ad47d;
    --bs-dropdown-link-active-bg: #383d3f;
    --bs-dropdown-link-active-color: #1ad47d;
    border-radius: 2px;
}

.nav-link{
    color: #b5aea5;

}
.dropdown-item{
    color: #b5aea5;
    background-color: #060a09;

}

.dropdown-divider{
    border-top: 3px solid #383d3f;
    margin: 0;
}

form{
    margin: 1rem;
}

.form-control{
    color: #b5aea5;
    background-color: #060a09;
    border: 2px solid #383d3f;
    height: 43px;
}

#carrito{
    max-height: max-content;
    padding: 2px;
    margin-left: 8px;
}

.navbar-toggler{
    margin: 1rem;
    color: #b5aea5;
    border: 2px solid #383d3f;
    padding: 4px;
}

input{
    border: 2px solid #b5aea5;
}

/* input::placeholder{

    box-shadow: 0 0 10px #1ad47d, inset 0 0 10px #1ad47d;
}
 */